
*{
     margin: 0;
    padding: 0;
}


:root{
    --background-color: rgb(0,0,0);
    --font-color: rgb(255,255,255);
    font-family: 'Inter', -apple-system, sans-serif;
    line-height: 24px;
   
}
.dark{
    --background-color: rgb(255,255,255);
    --font-color: rgb(0,0,0);
}

#layout-header{
    background-color: var(--background-color);
    color: var(--font-color);
    height: 80px; 
    max-width: 68.75rem;   
}

